  #grid-container
       {
            display: grid;
            grid-template-columns: 100px 100px 100px;
            grid-template-rows: 100px 100px 100px;
        }
    .box
    {
            border:3px solid black;
    }